---
layout: page
titles:
  # @start locale config
  en      : &EN       Archive
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  归档
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  歸檔
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       아카이브
  ko-KR   : *KO
  fr      : &FR       Archives
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  # @end locale config
---

<div class="layout--archive js-all">

  <div class="article-list items my-categories">
    <section>
      <ul class="items">
        {% for cat in site.categories %}
        <li class="item" itemscope="" itemtype="http://schema.org/BlogPosting">
          <div class="item__content">
            <span class="item__meta">|-></span>
            <a itemprop="headline" class="item__header" href="?categories={{ cat[0] }}" title="{{ cat[0] }}" rel="{{ cat[1].size }}">{{ cat[0] }} ({{ cat[1].size }})</a>
          </div>
        </li>
        {% endfor %}
      </ul>
    </section>
  </div>

  <div class="js-result layout--archive__result d-none my-archive">
    {%- include categories-article-list.html articles=site.posts type='brief' show_info=true reverse=true group_by='year' -%}
  </div>
</div>



<script>
  {%- include scripts/categories.js -%}
</script>

{{ content }}
